<div class="card" style="width: 18rem;">
    <img src="https://images.samsung.com/is/image/samsung/assets/in/explore/brand/5-best-android-mobile-phones-2022-in-india/banner-mobile-720x761-080422.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Samsung</h5>
      <p class="card-text">256GB, 5G</p>
    </div>
    <div class="card-body text-center">
      <a href="#" type="button" class="card-link btn btn-secondary">Wishlist</a>
      <a href="#" type="button" class="card-link btn btn-primary">Buy now</a>
    </div>
  </div>